{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:import/typescript",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:prettier/recommended",
    "plugin:testing-library/react",
    "plugin:react/jsx-runtime",
    "plugin:jest-dom/recommended"
  ],
  "plugins": ["unused-imports", "simple-import-sort"],
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "legacyDecorators": true,
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "17"
    },
    "import/resolver": {
      "typescript": {}
    }
  },
  "ignorePatterns": ["node_modules/*"],
  "rules": {
    "react/display-name": 0,
    "unused-imports/no-unused-imports": "error",
    "react/react-in-jsx-scope": 0,
    "react/jsx-handler-names": 0,
    "react/jsx-props-no-multi-spaces": ["error"],
    "indent": 0,
    "quotes": ["error", "single"],
    "max-len": [2, 130, 2, { "ignoreUrls": true }],
    "semi": ["error"],
    "object-curly-spacing": ["error", "always"],
    "no-trailing-spaces": ["error"],
    "spaced-comment": ["error", "always"],
    "no-multiple-empty-lines": ["error"],
    "testing-library/no-container": 0,
    "testing-library/no-node-access": 0,
    "testing-library/no-render-in-setup": 0,
    "prettier/prettier": ["error", { "endOfLine": "auto" }, { "usePrettierrc": true }],
    "simple-import-sort/exports": "error",
    "simple-import-sort/imports": "error"
  }
}
